html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}
.login-form {
  background: rgba(111, 209, 209, 0.7);
  /* backdrop-filter: blur(5px); */
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form h1 {
  margin: 0;
  padding: 0 50px 30px 50px;
  font-size: 50px;
  font-weight: 500;
}

.login-form input {
  background: none;
  border-style: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 330px;
  text-align: center;
  font-size: 25px;
  /* padding-top: 50px; */
}
